.cardcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 46px;
    background-color: #F0F0F0;
}
.arrow{
    position: sticky;
    bottom: 5%; 
    margin-left: 95%;
}
.arrow > svg{
    cursor: pointer;
    width: 60px;
    height: 60px;
    color: orange;
}
.loading{
    font-family: "Poppins";
    letter-spacing: .075rem;
    font-size: 25px;
    height: 100vh;
}